DATABASE_URL=postgresql://username:password@localhost:5432/database_name
SECRET_KEY=your_secret_key_here

CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

TICKETMASTER_API_KEY=your_ticketmaster_api_key_here